################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/OfficeDataChanger/v16/Server/sqlite3
/OfficeDataChanger/obj/Debug
/OfficeDataChangerWPF/obj/Debug
/OfficeDataChangerLibrary/obj
/.vs/OfficeDataChanger/v16
